version: "3"
services:
  wcs-frontend:
    image: ${DOCKER_IMAGE}:${DOCKER_TAG}
    build:
      context: ../
      dockerfile: docker/dockerfile-node-local-wcs
    environment:
      HOST: 0.0.0.0
    ports:
      - 8999:80
    volumes:
      - ./:/code
    # env_file: ../../.env
