.btn-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 2px solid $gray-88;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;

  &.filled {
    background-color: $gray-88;
    border: unset;
  }

  &.filled-dark {
    background-color: $body-color;
    border: unset;
  }

  &.outline {
    border: 2px solid $body-color;

    svg .st0 {
      fill: $body-color;
    }
  }

  &.disabled {
    border: 2px solid $gray-94;
    cursor: unset;

    svg .st0 {
      fill: $gray-94;
    }
  }

  img,
  svg {
    width: 30px;
    height: 30px;
  }

  &.arrow-up img,
  &.arrow-up svg {
    transform: rotate(90deg);
  }

  &.arrow-down img,
  &.arrow-down svg {
    transform: rotate(-90deg);
  }

  &.arrow-right img,
  &.arrow-right svg {
    transform: rotate(180deg);
  }
}

@media (max-width: 576px) {
	.btn-circle {
		height: 35px;
		width: 35px;

		&.arrow-right {
			svg {
				transform: scale(0.6) rotate(180deg) !important;
			}
		}

		&.arrow-left {
			svg {
				transform: scale(0.6);
			}
		}
	}

	.btn-circle-footer {
		height: 70px;
		width: 70px;
	}
}
