.chevron {
  &::before {
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
    content: '';
    display: inline-block;
    height: $font-size-base;
    left: 0.15em;
    position: relative;
    top: 0.35em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: $font-size-base;
  }

  &.right:before {
    left: 0;
    transform: rotate(45deg);
  }

  &.bottom:before {
    top: 0;
    transform: rotate(135deg);
  }

  &.top:before {
	  top: 0.35em;
  }

  &.left:before {
    left: 0.25em;
    transform: rotate(-135deg);
  }

  &.bold::before {
    border-width: 0.25em 0.25em 0 0;
  }
}
