.font-xx-large {
  font-size: xx-large !important;
}

.font-x-large {
  font-size: x-large !important;
}

.font-large {
  font-size: large !important;
}

.font-larger {
  font-size: larger !important;
}

.font-medium {
  font-size: medium !important;
}

.font-smaller {
  font-size: smaller !important;
}

.font-small {
  font-size: small !important;
}

.font-x-small {
  font-size: x-small !important;
}

.font-xx-small {
  font-size: xx-small !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto Slab, Arial, sans-serif;
  font-weight: bold !important;
}
