version: "3.4"

services:
  app:
    image: ${DOCKER_IMAGE}:${DOCKER_TAG}
    # env_file:
    #   - ../../../../.env
    build:
      context: ../../../
      dockerfile: delivery-service/infrastructure/docker/Dockerfile-local-wcs
