version: "3.4"

services:
  app:
    image: ${DOCKER_IMAGE}:${DOCKER_TAG}
    # env_file:
    #   - ../../../../.env
    build:
      context: ../../
      dockerfile: infrastrucutre/docker/Dockerfile-local-wcs
