<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Open Data Hub - Web Component Store - Simple Previewer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .responsive {
            position: relative;
        }
    </style>
</head>
<body>
    <div class="responsive" th:utext="${snippetCode}"></div>
    <th:block th:each="src : ${snippetScripts}">
    <th:block th:utext="${src}"></th:block>
    </th:block>
</body>
</html>