/*
 * SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.contributor-item {
	border-bottom: 2px solid #cfcfcf;

	.description {
		color: $primary;
		font-size: 14px;
	}

	.value {
		color: $primary;
		font-size: 14px;
		font-weight: bold;
	}
}

.contributor-item:first-child {
	border-top: 2px solid #cfcfcf;
}
