/*
 * SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.b-nav-dropdown {
	.dropdown-menu {
		background-color: #000 !important;
		width: 290px !important;
		margin-top: 10px;

		hr {
			background-color: white !important;
			margin: 0 12px;
		}

		a {
			color: white !important;
		}

		li {
			background-color: #000 !important;
		}

		// li:hover {
		// 	background-color: rgb(41, 41, 41) !important;
		// }

		.triangle {
			margin-top: -25px;
			right: 20px;
			position: absolute;
			width: 0;
			height: 0;
			border-left: 25px solid transparent;
			border-right: 25px solid transparent;
			border-bottom: 20px solid #000;
		}
	}

	.dropdown-menu:hover {
		background-color: #000 !important;
	}

	/* stylelint-disable-next-line */
	::v-deep .dropdown-item:hover {
		background-color: #000 !important;
	}
}
