.b-nav-dropdown {
	.dropdown-menu {
		background-color: #9bc320 !important;
		width: 290px !important;

		hr {
			background-color: white !important;
			margin: 0 12px;
		}

		a {
			color: white !important;
		}
	}
}
