.b-nav-dropdown {
	.dropdown-menu {
		background-color: #9bc320 !important;
		width: 290px !important;

		hr {
			background-color: white !important;
			margin: 0 12px;
		}

		a {
			color: white !important;
		}

		li {
			background-color: #9BC320 !important;
		}

		.submenu-item:hover {
			background-color: green !important;
			color: green !important;
		}
	}

	.dropdown-menu:hover {
		background-color: #9BC320 !important;
	}

	::v-deep .dropdown-item:hover {
		background-color: #9bc320 !important;
	}
}
