@import 'bootstrap/bootstrap';

@include media-breakpoint-down(xl) {
	.container-extended {
		max-width: 1728px !important;
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1300px !important;
	}
}

@media (min-width: 1650px) {
	.container {
		max-width: 1500px !important;
	}
}

.text-muted {
	color: $gray-94 !important;
}

@import 'common/button';
@import 'common/chevron';
@import 'common/common';
@import 'common/typography';
@import 'common/circle_icon';

@import 'widget/search-input';
@import 'widget/tagcloud';
@import 'widget/nav-dropdown';
@import 'widget/nav-menu';
@import 'widget/bottom-bar';
@import 'widget/tab-button';
@import 'widget/contributor-item';
@import 'widget/config-tabs';
@import 'widget/prism-editor';

.detail-border {
	@include media-breakpoint-down(md) {
		border-top: 1px solid #d9d9d9;
		padding-bottom: 0 !important;
		padding-top: 1rem;
		margin-top: 1rem;
	}

	@include media-breakpoint-up(lg) {
		border-left: 1px solid #d9d9d9;
	}
}

.bottom-border {
	border-bottom: 1px solid #d9d9d9;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
}

.beta_badge {
	display: block;
	color: #fff;
	background-color: $secondary;
	border-radius: 4px;
	border: 2px solid $secondary;
	padding: 14px 6px;
	font-weight: bold;
	float: right;
	&:hover {
		text-decoration: none;
		color: #fff;
		cursor: pointer;
	}
}

.button {
	display: inline-block;
	margin: 0 10px 10px 0;
	padding: 12px 25px;
	font-size: 1.3rem;
	max-width: none;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	border-radius: 4px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	cursor: pointer;
	min-width: 170px;
	background: $secondary;
	border: 2px solid $secondary;
	&:hover {
		color: $secondary;
		background: none;
		border: 2px solid $secondary;
		text-decoration: none;
	}
}

.link_with_icon {
	color: $primary;

	&:hover {
		// Important, otherwise the default style for <a> takes over
		color: $primary;
		text-decoration: none;
	}
}

.img_container {
	padding: 10px;
	width: 33.33%;
}

.logo_container {
	background: #fff;
	padding: 15px;
	border-radius: 8px;
	display: inline-block;
}

.code-snippet {
	&:disabled {
		color: $black !important;
		background-color: #fafafa !important;
	}
}

.entity {
	tr td:first-child {
		text-align: left;
		padding-right: 30px;
		text-transform: capitalize;
	}
	tr td:nth-child(2) {
		font-weight: 600;
	}
}

.container h2 {
	margin-top: 40px;
}

.tooltip {
	display: block !important;
	z-index: 10000;

	.tooltip-inner {
		background: black;
		color: white;
		border-radius: 16px;
		padding: 5px 10px 4px;
	}

	.tooltip-arrow {
		width: 0;
		height: 0;
		border-style: solid;
		position: absolute;
		margin: 5px;
		border-color: black;
		z-index: 1;
	}

	&[x-placement^='top'] {
		margin-bottom: 5px;

		.tooltip-arrow {
			border-width: 5px 5px 0 5px;
			border-left-color: transparent !important;
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
			bottom: -5px;
			left: calc(50% - 5px);
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&[x-placement^='bottom'] {
		margin-top: 5px;

		.tooltip-arrow {
			border-width: 0 5px 5px 5px;
			border-left-color: transparent !important;
			border-right-color: transparent !important;
			border-top-color: transparent !important;
			top: -5px;
			left: calc(50% - 5px);
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&[x-placement^='right'] {
		margin-left: 5px;

		.tooltip-arrow {
			border-width: 5px 5px 5px 0;
			border-left-color: transparent !important;
			border-top-color: transparent !important;
			border-bottom-color: transparent !important;
			left: -5px;
			top: calc(50% - 5px);
			margin-left: 0;
			margin-right: 0;
		}
	}

	&[x-placement^='left'] {
		margin-right: 5px;

		.tooltip-arrow {
			border-width: 5px 0 5px 5px;
			border-top-color: transparent !important;
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
			right: -5px;
			top: calc(50% - 5px);
			margin-left: 0;
			margin-right: 0;
		}
	}

	&.popover {
		$color: #f9f9f9;

		.popover-inner {
			background: $color;
			color: black;
			padding: 24px;
			border-radius: 5px;
			box-shadow: 0 5px 30px rgba(black, 0.1);
		}

		.popover-arrow {
			border-color: $color;
		}
	}

	&[aria-hidden='true'] {
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.15s, visibility 0.15s;
	}

	&[aria-hidden='false'] {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.15s;
	}
}

a {
	color: $primary !important;
}

a:hover {
	color: black !important;
}

.nav-link {
	color: #888 !important;
}

.menu-link {
	font-size: 24px;
}

.menu-sub-link {
	font-size: 18px;
}

.category {
	padding: 8px 12px 8px 12px;
	margin-right: 8px;
	margin-top: 8px;
	height: 30px;
	border: 1px solid #cfcfcf;
	border-radius: 30px;
	opacity: 1;
	text-align: center;
	align-items: center;
	display: flex;
}

@media (max-width: 576px) {
	.card-footer {
		display: none;
	}

	.menu-link {
		font-size: 20px;
	}

	.wc-detail {
		font-size: 14px !important;
	}

	main {
		margin-top: 72px !important;
	}
}

img {
	max-width: 100%;
}

header {
	background-color: white;
}

main {
	margin-top: 82px;
}

.text-underline {
	text-decoration: underline;
}

.text-underline:hover {
	text-decoration: underline !important;
}

.carousel-caption {
	h3 {
		font-size: 36px !important;
	}
}

.wc-detail {
	.row {
		margin-left: 0;
		margin-right: 0;
	}
}

.cursor-pointer {
	cursor: pointer;
}
