@import 'bootstrap/bootstrap';

@include media-breakpoint-down(xl) {
  .container-extended {
    max-width: 1728px;
  }
}

.text-muted {
  color: $gray-94 !important;
}

@import 'common/button';
@import 'common/chevron';
@import 'common/common';
@import 'common/typography';

@import 'widget/search-input';
@import 'widget/tagcloud';

.detail-border {
  @include media-breakpoint-down(sm) {
    border-top: 2px solid #d9d9d9;
    padding-bottom: 0 !important;
    padding-top: 1rem;
    margin-top: 1rem;
  }

  @include media-breakpoint-up(md) {
    border-left: 2px solid #d9d9d9;
  }
}

.beta_badge {
  display: block;
  color: #fff;
  background-color: $secondary;
  border-radius: 4px;
  padding: 14px 6px;
  font-weight: bold;
  float: right;
  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

.button {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 12px 25px;
  font-size: 1.3rem;
  max-width: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  min-width: 170px;
  background: $secondary;
  border: 2px solid $secondary;
  &:hover {
    color: $secondary;
    background: none;
    border: 2px solid $secondary;
    text-decoration: none;
  }
}

.img_container {
  padding: 10px;
  width: 33.33%;
}

.logo_container {
  background: #fff;
  padding: 15px; 
  border-radius: 8px;
  display: inline-block;
}

.code-snippet {
  &:disabled {
    color: $black !important;
    background-color: #fafafa !important;
  }
}

.entity {
  tr td:first-child {
    text-align: right;
    padding-right: 30px;
    text-transform: capitalize;
  }
  tr td:nth-child(2) {
    font-weight: 600;
  }
}

.container h2 {
  margin-top: 40px;
}
