@import 'bootstrap/bootstrap';

@include media-breakpoint-down(xl) {
  .container-extended {
    max-width: 1728px;
  }
}

.text-muted {
  color: $gray-94 !important;
}

@import 'common/button';
@import 'common/chevron';
@import 'common/common';
@import 'common/typography';

@import 'widget/search-input';
@import 'widget/tagcloud';

.detail-border {
  @include media-breakpoint-down(sm) {
    border-top: 2px solid #d9d9d9;
    padding-bottom: 0 !important;
    padding-top: 1rem;
    margin-top: 1rem;
  }

  @include media-breakpoint-up(md) {
    border-left: 2px solid #d9d9d9;
  }
}

.alpha_badge {
  display: inline-block;
  vertical-align: sub;
  color: #fff;
  background-color: #FF7F50;
  border-radius: 4px;
  margin-left: 20px;
  padding: 6px;
  font-weight: bold;
}
